<% if RuthApplication.layout[:container][id] %>
	<% RuthApplication.layout[:container][id].each do |component| %>
		<% if component == :yield %>
			<div class="content-container">
				<%= yield %>
			</div>
		<% else %>
			<% 
				if component.is_a?(Hash) && !component.empty?
					align = component.values.first
					component = component.keys.first
				else
					align = nil
				end
			%>
			<%= render partial: "ruth_application/component", locals: { component: component.to_s, align: align } %>
		<% end %>
	<% end %>
<% end %>