<% if RuthApplication.layout[:footer] %>
	<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 text-xs-center text-sm-left">
					<%= render partial: "ruth_application/footer_column", locals: { id: :left } %>
				</div>
				<div class="col-sm-4 text-xs-center text-sm-left">
					<%= render partial: "ruth_application/footer_column", locals: { id: :middle } %>
				</div>
				<div class="col-sm-4 text-xs-center text-sm-right">
					<%= render partial: "ruth_application/footer_column", locals: { id: :right } %>
				</div>
			</div>
		</div>
	</div>
<% end %>