<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">

		<div class="navbar-header">
			
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<%= render partial: "ruth_application/navbar_column", locals: { id: :header } %>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<%= render partial: "ruth_application/navbar_column", locals: { id: :collapse } %>
		</div>

	</div>
</div>