.croppable-container {
	position: relative;
	overflow: hidden;
	cursor: crosshair;
	display: inline-block;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;

	* {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;

		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	.croppable-crop {
		position: absolute;
		box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.35);
		cursor: move;

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			border: 1px solid rgba(#39f, 0.8);
			box-shadow: inset 0px 0px 5px 0px rgba(#39f, 0.75);
		}

		&.croppable-rounded {
			border-radius: 50%;
			&:before {
				border-radius: 50%;
			}
		}

		$croppable-resize-size: 5px;
		@mixin croppable-resize-style {
			position: absolute;
		}

		.croppable-crop-east {
			@include croppable-resize-style;
			top: $croppable-resize-size;
			bottom: $croppable-resize-size;
			right: 0;
			width: $croppable-resize-size;
			cursor: e-resize;
		}

		.croppable-crop-south {
			@include croppable-resize-style;
			left: $croppable-resize-size;
			bottom: 0;
			right: $croppable-resize-size;
			height: $croppable-resize-size;
			cursor: s-resize;
		}

		.croppable-crop-west {
			@include croppable-resize-style;
			top: $croppable-resize-size;
			bottom: $croppable-resize-size;
			left: 0;
			width: $croppable-resize-size;
			cursor: w-resize;
		}

		.croppable-crop-north {
			@include croppable-resize-style;
			left: $croppable-resize-size;
			top: 0;
			right: $croppable-resize-size;
			height: $croppable-resize-size;
			cursor: n-resize;
		}

	}
}

// Rug style
.cropbox {
	img {
		max-width: 100%;
		max-height: 500px;
		width: auto;
		height: auto;
	}
}