<ul class="copy">
	<li class="client">
		<%= render partial: "ruth_admin/components/footer_copy_item", locals: { name: RuthAdmin.client_name, year: RuthAdmin.client_year, url: RuthAdmin.client_url, image: RuthAdmin.client_image } %>
	</li>
	<li class="developer">
		<%= render partial: "ruth_admin/components/footer_copy_item", locals: { name: RuthAdmin.developer_name, year: RuthAdmin.developer_year, url: RuthAdmin.developer_url, image: RuthAdmin.developer_image } %>
	</li>
</ul>