<% controller_path = controller.class.name.to_snake[0..-12] %>
<% unused = render(partial: "#{controller_path}/breadcrumb_#{action_name}") if lookup_context.find_all("#{controller_path}/_breadcrumb_#{action_name}").any? %>
<div class="<%= align ? "float-" + align.to_s : "" %>">
	<%= breadcrumbs style: :bootstrap %>
</div>