<%
def render_item(t, item, dropdown = "")
	result = ""
	
	# Show?
	if item[:show_if]
		show = eval("(#{item[:show_if]}) == true")
	elsif item[:dropdown]
		show = false
		item[:dropdown].each do |dropdown_item|
			show ||= dropdown_item[:show_if] ? eval("(#{dropdown_item[:show_if]}) == true") : true
		end
	else
		show = true
	end

	if show
		if item[:type] == "delimiter"
			result += "<li role=\"separator\" class=\"divider\"></li>\n"
		else

			# Get URL
			if item[:url]
				url = eval("(#{item[:url]}).to_s")
			else
				url = "#"
			end

			# Get label
			label = I18n.t(item[:label], default: item[:label])

			# Active?
			if item[:active_if]
				active = eval("(#{item[:active_if]}) == true")
			elsif item[:dropdown]
				active = false
				item[:dropdown].each do |dropdown_item|
					active ||= eval("(#{dropdown_item[:active_if]}) == true")
				end
			else
				active = false
			end

			result += "<li class=\"#{(active ? "active" : "")}\">"
			if !dropdown.blank?
				result += link_to(url, class: "dropdown-toggle", data: { toggle: "dropdown" }, aria: {haspopup: "true", expanded: "false" }, role: "button") do
					result = ""
					result += RugBuilder::IconBuilder.render(item[:icon]) if item[:icon]
					result += label if !label.blank?
					result += " <span class=\"caret\"></span>"
					result.html_safe
				end
			else
				result += link_to(url) do
					result = ""
					result += RugBuilder::IconBuilder.render(item[:icon]) if item[:icon]
					result += label if !label.blank?
					result.html_safe
				end
			end
			result += dropdown
			result += "</li>\n"
		end
	end
	
	return result.html_safe
end
%>

<ul class="nav navbar-nav <%= align ? "navbar-" + align.to_s : "" %>">
	<% RuthApplication.main_menu.each do |item| %>
		<% dropdown = "" %>
		<% if item[:dropdown] %>
			<% dropdown += "<ul class=\"dropdown-menu\">\n" %>
			<% item[:dropdown].each do |dropdown_item| %>
				<% dropdown += render_item(self, dropdown_item) %>
			<% end %>
			<% dropdown += "</ul>\n" %>
		<% end %>
		<%= render_item(self, item, dropdown) %>
	<% end %>
</ul>