<div class="partners-list row">
	<div class="col-xs-12">
		<div class="well">
			<% RicPartnership::Partner.all.order(position: :asc).each do |partner|%>
				<div class="partners-list-item">
					<% if partner.url.blank? %>
						<%= image_tag(partner.logo.url(:full)) if partner.logo.exists? %>
					<% else %>
						<%= link_to partner.url do %>
							<%= image_tag(partner.logo.url(:full)) if partner.logo.exists? %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>