<form class="navbar-form navbar-<%= align.to_s %>" role="search">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search for...">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit"><%= rug_icon("search") %></button>
		</span>
	</div>
</form>



