$af-fade-animation-duration: 0.5s !default;

.af-container {
	position: relative;
}

.af-success-message {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s $af-fade-animation-duration, opacity $af-fade-animation-duration linear;
}

.af-form {
	visibility: visible;
	opacity: 1;
	transition: opacity $af-fade-animation-duration linear;
}

.af-container.af-hidden {
	
	.af-success-message {
		visibility: visible;
		opacity: 1;
		transition: opacity $af-fade-animation-duration linear;
	}

	.af-form {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s $af-fade-animation-duration, opacity $af-fade-animation-duration linear;
	}
}

